/**
 * Primary
 */

$red            : rgb(227,37,51);
$blue           : rgb(0,92,185);
$green          : rgb(70,173,0);
$purple         : rgb(134,105,255);
$orange         : rgb(255,152,33);
$yellow         : rgb(255,237,69);

/**
 * Light
 */

$red-light      : rgb(255,92,92);
$blue-light     : rgb(54,147,248);
$green-light    : rgb(117,216,53);
$purple-light   : rgb(156,151,255);
$orange-light   : rgb(255,187,102);
$yellow-light   : rgb(255,249,141);

/**
 * Dark
 */

$red-dark       : rgb(132,18,37);
$blue-dark      : rgb(0,54,110);
$green-dark     : rgb(29,95,17);
$purple-dark    : rgb(89,81,148);
$orange-dark    : rgb(229,92,0);
$yellow-dark    : rgb(255,207,69);

/**
 * Circle
 */

$red-circle     : rgb(245,204,207);
$blue-circle    : rgb(200,231,251);
$green-circle   : rgb(226,232,152);
$purple-circle  : rgb(222,209,231);
$orange-circle  : rgb(255,227,156);
$gray-circle    : rgb(220,220,220);

/**
 * Monochrome
 */

$true-black     : rgb(0,0,0);
$black          : rgb(20,20,20);
$gray-darkest   : rgb(43,43,43);
$gray-darker    : rgb(65,65,65);
$gray-dark      : rgb(87,87,87);
$gray           : rgb(134,134,134);
$gray-light     : rgb(188,188,188);
$gray-lighter   : rgb(212,212,212);
$gray-lightest  : rgb(233,233,233);
$off-white      : rgb(245,245,245);
$white          : rgb(255,255,255);