sudo: false
dist: trusty
language: node_js
node_js:
- lts/*
branches:
  except:
  - gh-pages
addons:
  firefox: latest
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
before_script:
- npm install bower
- export PATH=$PWD/node_modules/.bin:$PATH
- bower install
script:
- echo "This design module has no tests"
after_success:
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then openssl aes-256-cbc -k "$DEPLOYSECRET"
  -in deploy.enc -out deploy_key -d; fi
- cd $TRAVIS_BUILD_DIR/scripts
- chmod 755 ghp.sh
- "./ghp.sh"
env:
  global:
  - secure: BiBnYMItqNT38xTW+SekAHCVvAm07AF2lGWcIU49co9XjfFbeae0w3JpRJllZuHGqB2R0mvNEl2r0TqhjJQxNRVuhLy7R5hflw9hso55n71skQ8M77OCk5NuWre3R9nHghlkX5YcWdkff4YyFAKZFcDSUOjHdu8dTbA+XzzsvOvu85oypicU6SVc/yx6QrtPrmeGu01Cn2KqthN9hDRchmdX9Ni7fvzRgSBCa9ranRyGCtSxPNQn+TTGULdn88A01AEOKZyis+b+PhNDHTYYZvBYi7XVbAuNGGuRMbsM2wZs+xgQtueiHT1Ux1ruO42rgsZYQ6UDZu/U/+jf4/Ka7WlnyfNSwoMl8Tg2Falm2SALS5kkrrhdh3YCV8PgI9QabyrIeCHL7u9EOYgBOBbVAJytDeUr+PR40gMoTlMSXjscfHHP1OUg2SgLlhxzHB920FBLXTLyDgGq6lrYKo0VWs2rmw2IWu8ar9K8LQkV1HdXGKqbKdNluXQMmJq/DchZ+hWEsHEgTG7FzvbARUmN+8URGiOm4ctAZtYt2M7tsMJ0pyX5AhKeZAglUyb4Lx0gtco6fplqnCyfm+hv7RL2h9vl+aXAz+G4ZD3KPn5jxNXch+bR3R+cnN57ABFZhzgD1dwO8MYa3yOJJL4bs+wZDo+b+02ye9ozw3ovM35qv9M=
  - secure: J37tVjneIPDynsXIOOZtFLpDP57vblGYxq/0ip8ktlioBKqE4ZBjEimQ6oyM7uUGYgC20svB8HBAL2ZP+fw5Cw+Z/PPUH59Kjaf27/rNUc+MEtBd5x6eIqI9/Oumx6+4ZjiNarA77frk7Nikfru6mjaSK93ck1Uw7WgmzQlGjHcAbrF8u+iTfVWVyfJkVmiyWThFgxoW4GtnNR5suWcbxfCB8+3Tyb2y4EomzpKt4E1ffeUqae7Sm+SxenEXu96hnA9DUIxLZOMXYkrJBs7n95/2q5UKDQNo5N5lFWUWu7ZMZzUnG5uGEMHuyGw6q7fGSezXKWs3fK91kVCdSn/OZAwcT73/8gJS3ObO4ez2BbuJvls8rwLY8dYUTWVGK7OYvQUsNC6jpoIFRME4grT6qXxPW42QD1f88WD9Aa9Ic9MFKcm0Pwy00V0BlrSU1TzYiwIi8AZeUktbOKGL4Fr14TggF+h/o0OR7c6zor6eiXj3NgYooo/52c0bJ4zy4ANJ5wUarHUCa+aQeDq8KywwG0gMpnTNRjwTTMnhL+qygh++oqqXXnSDDNR+TouNUFcFGymP+pSb6YWd1T1hg7/5awBtmyhSAl9F68BhG/olGvh1yEbNP8ioqaPI9lpAsdsbodcZkIH7V0ZngND0YHe0uJnCxc7JHfBU4E8rPvk4YDo=
  - secure: TK6uBXiTSKQD0GbF8zAHHybegmlyYmHulrjZfh8E/cL0fzCFTsbvKI8pa+2zA3LZX50kJYnBdbtq2sfBvpgUsaJjJw/wSj+nGxP7/qdMxnCELbumYckt0IqRe2VxMnIrPOMrNeoQ4gTBW83VsqpahodASgX/DDRxKEiP1rqWj42fz3EbbN4nmCl+vqPXLXPVcgZQoh7gG92rTj6josowW7TCEFm7h0llc12UFnc6jDpsx1Z9tPi9NcWsZUTmI1v+DXVSOGMSZLbRVqgMP7erV2HurZWcYgVspBld8l8Kkw+M+RO67Pmq1F3wUGbQooH7esel/mFWlIt8NL1xOjfHzNvMIMxDPPAZriDTCFiapPvpHTfoVVDXLcFDHs7738nLPeQH+KgaOzpIX4qWFv9PVvkHD4UjxQibqpdHeMBkSScXaF97ULAJ/FgoqHoNC3hW8LJP08PlXWCa9sARZ2i+KsJKFIMIXyGYIM+6ALuB39V1qQ49LzHGDLXFzF/pZzIcivzA4IcEyfNHF4k4fKRXzPLwDashCu32/EdZvJUaghtferFBvZXeVZG0ejzEm6Ke5OFlsvj9Ug5zcFBm6EwlIh+2yWUIs16vRWlhqkqIJ2aoS0dXuInRP9yBpGlID67z8NB9KcmPwZhX1lau4G+CPgtX17Xfo3bDtSP/RxZm0AU=
  - secure: idnkJ3xuWcvkQ2XEb05E7uuZ3DZnEO9dcneikSDYF4X2vwlNUVrPH7w/OwVM+ZvmAihCvmlxFvC1zmwcyrECcxvuROuoACiqi6SqVmIYQQfbQIj/JaiNhFxTUXQmuMlOu+0MWcY/3EbuLrPPyRdFl+2MEVRu+CgDDSCFRmyJPlQj56iPdhKk5P20JbwbQNKmXB7lemQG2Ct2qzqdgFEFD65T0gILberBZYC8Ed5qkgp8+lgXRLyF/JlZezyzOcIB45WcA4/YH5VraIWAMrvRvAEOZU2ZHVQo5MftpMzs6fz6PZa84evoLy04DChgNLdRWNKU6hZsT/GUYPsakzggpc+rrfOTfNnpZEVWoiebS2LJ6WsLW4MX/7/koKByxvw2ymTuhRDuYpO8Oadgv5wkfpndE32LODgM5++5rOmreiSCGD8T6LH2d/lARIQRsngFu1Q79TXjbRzSsXW9jB4dgNvqF0C48j+k3Ap2VwGy/iSwDbIIKDFhYFAs3/dQ2tayxwDuD2XcNomvhpTim8aCvH4QWaQp6vNHcSFHtkdv6i26rZHNiOJnrQD5M37stXVUk/fwdIsUAhJl0qlnx3XO21cBek4SKr/GSsbmo3SNH6NGq6Mx1NBz/LxzNXGXtjkIjINjedoSyuzNmMrhXGaNZFeye2X6itLNiXvjl3g6LAE=
